body{
    margin: 0;
    padding: 0;
    background-image: url(Pk\ Arceus.jpg);
    background-size: cover;
}

.div{
    margin: 2em 0 0 25%;
    width: 45%;
    height: 38em; 
    background-color: #ebf2f382;
    padding: 1rem 3rem;
}
#select{
    font-size: 1.2rem;
    background-color: #c24b51a5;
    margin: 0 32%;
    border: 1px solid black;
}
#select option{
    
}
